
name: Initial Release Creation

on:
  workflow_dispatch

jobs:
  validate:
    name: Build and test
    uses: ey-fabric/fabric-workflow-shared/.github/workflows/workflow_javascript-validate.yml@v2
    with:
      node_version: ${{ vars.NODE_VERSION }}
      project_folder: 'consumer'
      project_name: user-service-consumer
      continue-on-sonar-error: true
      sonarqube_host: ${{ vars.SONAR_HOST_URL }}
      fabric_application_api_url: ${{ vars.FABRIC_APPLICATION_API_URL }}
      fabric_application_id: ${{ vars.FABRIC_APPLICATION_ID }}
      registry_url: ${{ vars.JFROG_DOCKER_REGISTRY_SERVER_NAME_DEV }}
      apm-id: ${{ vars.APM_ID }}
      spr-id: ${{ vars.SPR_ID }}
      portfolio: ${{ vars.PROJECT_PORTFOLIO }}
    secrets:
      NULLPLATFORM_API_KEY: ${{ secrets.NULLPLATFORM_API_KEY }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      ARTIFACTORY_USERNAME: ${{ vars.JF_USER }}
      ARTIFACTORY_TOKEN: ${{ secrets.JF_PASS }}
      TENANT_ID: ${{ vars.TENANT_ID }}
      CLIENT_ID: ${{ secrets.PUBLISH_CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.PUBLISH_CLIENT_SECRET }}
      SCOPE: ${{ secrets.PUBLISH_SCOPE }}
      CHECKMARX_USERNAME: ${{ vars.CHECKMARX_USERNAME }}
      CHECKMARX_PASSWORD: ${{ secrets.CHECKMARX_PASSWORD }}
      MEND_ACTION_STS: ${{ secrets.MEND_ACTION_STS }}
      ARCHER_SPR_API_TOKEN: ${{ secrets.ARCHER_SPR_API_TOKEN }}
      INFOSEC_CONNECTIONKEY: ${{ secrets.INFOSEC_CONNECTIONKEY }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  release:
    name: Release
    needs: validate
    uses: ey-fabric/fabric-workflow-shared/.github/workflows/workflow_javascript-release.yml@v2
    secrets:
      GIT_TOKEN: ${{ secrets.GH_TOKEN }}
