name: Publish assets

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish artifacts
    uses: ey-fabric/fabric-workflow-shared/.github/workflows/workflow_javascript-publish.yml@v2
    with:
      node_version: ${{ vars.NODE_VERSION }}
      fabric_application_api_url: ${{ vars.FABRIC_APPLICATION_API_URL }}
      fabric_application_id: ${{ vars.FABRIC_APPLICATION_ID }}
      registry_url: ${{ vars.JFROG_DOCKER_REGISTRY_SERVER_NAME_DEV }}
    secrets:
      NULLPLATFORM_API_KEY: ${{ secrets.NULLPLATFORM_API_KEY }}
      ARTIFACTORY_USERNAME: ${{ vars.JF_USER }}
      ARTIFACTORY_TOKEN: ${{ secrets.JF_PASS }}
      TENANT_ID: ${{ vars.TENANT_ID }}
      CLIENT_ID: ${{ secrets.PUBLISH_CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.PUBLISH_CLIENT_SECRET }}
      SCOPE: ${{ secrets.PUBLISH_SCOPE }}
