apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: els-lms-client-els-lms
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/hcmuleva/els-demo
    targetRevision: main
    path: els-lms-stack
    helm:
      valueFiles:
        - values-client.yaml
      parameters:
        - name: global.client.name
          value: els-lms
  
  destination:
    server: https://kubernetes.default.svc
    namespace: els-lms
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 3
