apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.fullname" . }}-init-script
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  01-create-database.sql: |
    -- Create the main application database
    CREATE DATABASE els_lms;
    
    -- Grant all privileges to the postgres user
    GRANT ALL PRIVILEGES ON DATABASE els_lms TO postgres;