# ============================================
# ELS-LMS Client Deployment Configuration
# ============================================

global:
  deploymentType: "client"
  client:
    name: "els-lms-client"
    domain: "els-lms.local"
  imagePullPolicy: IfNotPresent
  labels:
    environment: "client"
    type: "standalone"

postgres:
  enabled: true
  auth:
    database: "els-lms"
    username: "postgres"
    password: "postgres"
  persistence:
    size: 5Gi
    storageClassName: "hostpath"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

els-lms-api:
  enabled: true
  replicaCount: 1
  image:
    repository: harishdell/els-lmsclient
    tag: "1.1"
    pullPolicy: IfNotPresent
  env:
    HOST: "0.0.0.0"
    PORT: "1337"
    DATABASE_CLIENT: "postgres"
    DATABASE_HOST: "postgres-postgres"
    DATABASE_PORT: "5432"
    DATABASE_NAME: "elsdb"
    DATABASE_USERNAME: "postgres"
    DATABASE_PASSWORD: "postgres"
    NODE_ENV: "production"
    PUBLIC_URL: "http://els-lms-server.local"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  ingress:
    enabled: true
    className: nginx
    host: "els-lms-api.local"

els-lms-ui:
  enabled: true
  replicaCount: 1
  image:
    repository: harishdell/els-lmclient
    tag: "1.1"
    pullPolicy: IfNotPresent
  env:
    REACT_APP_API_URL: "http://els-lms-api.local/api"
    REACT_APP_ABLY_API_KEY: "xul13A.CNpeww:KkS0rh8M4rJSr5r4gHNGbMijYuxvr90ybz1UQd6uKpw"
    REACT_APP_MAXPAGE: "3"
    REACT_APP_KRUTRIM_API_KEY: "5MG974Dkz5xHQ70hLzyLZQzMO57B5P9Pos1MOYe3"
    REACT_APP_GOOGLE_API_KEY: "AIzaSyDNN9LVrNB_WOGhrHG0U1CYsTWIOuaaoI8"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  ingress:
    enabled: true
    className: nginx
    host: "els-lms.local"
