replicaCount: 1

image:
  repository: harishdell/els-lmsserver
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  name: els-lms-api
  type: ClusterIP
  port: 1337
  targetPort: 1337

env:
  HOST: "0.0.0.0"
  PORT: "1337"
  DATABASE_CLIENT: "postgres"
  DATABASE_HOST: "postgres-postgres"
  DATABASE_PORT: "5432"
  DATABASE_NAME: "elsdb"
  DATABASE_USERNAME: "postgres"
  DATABASE_PASSWORD: "postgres"

healthCheck:
  enabled: true
  path: "/_health"
  initialDelaySeconds: 30
  periodSeconds: 10

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: nginx
  host: "els-lms-api.local"
  annotations: {}
