replicaCount: 1

image:
  repository: harishdell/flask-lab1
  tag: "1.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: flask-lab1.local
      paths:
        - path: /qa
          pathType: Prefix
  tls: []
