replicaCount: 1

image:
  repository: harishdell/flask-lab1
  tag: "2.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  className: nginx
  annotations: 
    nginx.ingress.kubernetes.io/rewrite-target: / 

  hosts:
    - host: flask-lab1.local
      paths:
        - path: /dev
          pathType: Prefix
  tls: []
