apiVersion: apps/v1
kind: Deployment
metadata:
  name: strapi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: strapi
  template:
    metadata:
      labels:
        app: strapi
    spec:
      containers:
      - name: strapi
        image: harishdell/elsapi:1.0
        ports:
        - containerPort: 1337
        env:
        - name: NODE_ENV
          value: development
