apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: els-lmsserver-dev
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL:  https://github.com/hcmuleva/els-demo.git
    targetRevision: main
    path: helm/charts/els-lmsserver
    helm:
      valueFiles:
        - values_dev.yaml
  
  destination:
    server: https://kubernetes.default.svc
    namespace: els-lms-dev
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m