name: Move Release Branch

on:
  release:
    types: [published, created]

permissions:
  contents: write

jobs:
  move-release-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Move Release Branch
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          TAG=${{ github.event.release.tag_name }}
          MAJOR=$(echo $TAG | sed -E "s/(v[0-9]+).*/\1/")
          MINOR=$(echo $TAG | sed -E "s/(v[0-9]+[.][0-9]+).*/\1/")

          git fetch origin

          echo "Moving branches for tag ${TAG}"

          git push origin HEAD:${MAJOR} --force
          git push origin HEAD:${MINOR} --force
