on:
  release:
    types: [published, created]

jobs:
  move-branches:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name }}
      - run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          TAG=${{ github.event.release.tag_name }}
          MAJOR=$(echo $TAG | sed -E "s/(v[0-9]+).*/\1/")
          MINOR=$(echo $TAG | sed -E "s/(v[0-9]+[.][0-9]+).*/\1/")
          git push origin HEAD:${MAJOR} --force
          git push origin HEAD:${MINOR} --force
