name: Release

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, closed, labeled, unlabeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Release
        id: drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yaml
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

      - name: Setup Git
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

      - name: Update Helm versions
        run: |
          VERSION=$(echo "${{ steps.drafter.outputs.tag_name }}" | sed "s/v//g")
          find . -name Chart.yaml -exec yq -i ".version = env(VERSION)" {} \;

      - name: Commit changes
        run: |
          git add -u
          git commit -m "chore: bump to ${{ steps.drafter.outputs.tag_name }}" || echo "No changes"
          git push

      - name: Publish Release
        run: gh release edit ${{ steps.drafter.outputs.tag_name }} --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
